{% extends "frontpage.html" %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
   <li><a href="/">Home</a></li>
   <li class="current">{{ title }}</li>
</ul>
{% endblock %}

{% block main %}

<div class="row">
   <div class="large-12 columns">
      <h2>{{ title }}</h2>
   </div>
</div>

<div class="row">
<div class="large-12 columns">
{% block adminActions %}{% endblock %}
</div>
</div>

{% if books.length > 0 %}
<div class="row">
<div class="large-12 columns">
   <table>
      <thead>
         <tr>
            <th width="200">Cover</th><th width="600">Title</th><th width="170"></th>
         </tr>
      </thead>
      <tbody>
      {% block bookLoop %}
         {% for book in books %}
            <tr>
               <td>
                  {% if book.coverUrl %}
                  <a href="/bookshelf/{{ bookshelfId }}/{{ book.id }}">
                     <img src="{{ book.coverUrl }}=s200" alt="" title="" />
                  </a>
                  {% endif %}
               </td>
               <td><a href="/bookshelf/{{ bookshelfId }}/{{ book.id }}">{{ book.title }}</a></td>
               <td></td>
            </tr>
         {% endfor %}
      {% endblock %}
      </tbody>
   </table>
</div>
</div>
{% endif %}

{% endblock %}