{% extends "frontpage.html" %}

{% block main %}

<div class="row">
   <div class="medium-12 columns">
      <h3>New Bookshelf</h3>
   </div>
</div>

<form method="POST" action="/createBookshelf" autocomplete="off">

   <div class="row">
      <div class="medium-6 columns">
         <label for="title" >Title:</label>
         <input type="text" value="" id="title" name="title" />
      </div>
   </div>

   <div class="row">
      <div class="medium-6 columns">
         <input type="submit" value="Create" class="button" />
      </div>
   </div>
</form>

{% endblock %}