{% extends "index.html" %}

{% block username %}
   {% if username %}
   <small>{{ username }}</small>
   {% endif %}
{% endblock %}

{% block globalcontrol %}
   {% if logoutURI %}
      <a href="{{logoutURI}}" class="button tiny radius">Sign out</a>
   {% else %}
      <a href="/" class="button tiny radius">Sign in</a>
   {% endif %}
{% endblock %}

{% block main %}


{% if shelfs.length > 0 %}
<div class="row">
   <div class="large-12 columns">
      <h5>My Bookshelfs</h5>
   </div>
</div>
{% else %}
<div class="row">
   <div class="large-12 columns">
      <p>You have no bookshelfs created so far.</p>
   </div>
</div>
{% endif %}

<div class="row">
   <div class="large-12 columns">
      <ul>
         {% for shelf in shelfs %}
            <li><a href="/bookshelf/{{ shelf.id }}">{{ shelf.title }}</a></li>
         {% endfor %}
      </ul>
   </div>
</div>

<div class="row">
   <div class="medium-12 columns">
      <a class="button" href="/createBookshelf">Add Bookshelf</a>
   </div>
</div>

{% endblock %}