<!DOCTYPE html>
<html>
<head>
   <title>{{ title }}</title>
   <link rel="stylesheet" href="/static/normalize.css" />
   <link rel="stylesheet" href="/static/foundation.min.css" />
   <link rel="stylesheet" href="/static/style.css" />
   <script src="/static/modernizr.js"></script>
</head>
<body>

   <header class="row">
      <h1 class="large-12 columns">Bookshelf</h1>
   </header>

   <main>
      {% block main %}{% endblock%}
   </main>

   <footer class="row">
      <div class="large-12 columns">RingoJS Bookshelf</div>
   </footer>

</body>
</html>
