main {
   margin: 0.5rem 0 0 0;
}

.frontTopNavigation {
   font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
   font-weight: 300;
}

footer {
   padding: 2rem 0 4rem 0;
}

.footerText {
   border-top: 1px solid rgb(218, 218, 218);
   padding-top: 0.5rem;
   color: #a7a7a7;
   font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
   font-weight: 300;
}

@media only screen and (min-width: 40.063em) {
#globalcontrol {
   text-align: right;
   padding-top: 1.25rem;
}
}